@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
}
<br /><br />



<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" asp-controller="ProductTypes" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Product Type</a>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" name="lowRange" />
        </div>
        <div class="col-3">
            <input type="number" class="form-control" name="highRange" />
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-success" value="Search" />
        </div>
        <div class="col-3"></div>
    </div>
</form>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c => c.ProductType)
            </th>

            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType</td>
                <td>
                    <partial name="_buttonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var saveData = '@TempData["save"]';
            var deleteData = '@TempData["delete"]';
            var editData = '@TempData["update"]';
            if (saveData != '') {
                alertify.success(saveData);
                saveData = "";
            }
            else if (deleteData != '') {
                alertify.error(deleteData);
            }
            else if (editData != '') {
                alertify.success(editData);
            }
        });
    </script>
}

